
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

#container_index{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 45px;
}
header{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 1;
}
header h1{
    font-size: 3em;
    color: #7a7c7d;
    white-space: nowrap;
    letter-spacing: .15em;
    transition: color .6s ease-in-out, box-shadow .6s ease-in-out;
}


#profile_index{
    grid-area: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 1fr 0.75fr;
    grid-row-start: 1;
    grid-row-end: 4;
    
}
#profile_index img{
    width: 100px;
    height: auto;
    margin:auto;
    border-radius: 50%;
    transition: transform ease 0.8s;
    animation: pulse 1.5s infinite;
}
#profile_index:hover > header h1{
    box-shadow: inset 500px 0 0 0 #808587;
    color: white;
}

#profile_index:hover > img, #profile_index:active > img, #profile_index:focus > img{
    transform: translate(-150px);
    animation: none;
}
#profile_index:hover > #inner_container, #profile_index:active > #inner_container{
    transform: translate(0, -170px);
    opacity: 1;
    
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8);
	}

	70% {
		box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

#inner_container{
    display: grid;
    gap:10px;
    opacity: 0;
    justify-content: center;
    align-items: center;
    grid-template-columns: 170px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    transition: opacity 0.5s linear, transform ease 0.8s; 
}

#inner_container > a:hover, #inner_container > a:active, #inner_container > a:focus {
   /*transition: transform .5s ease;*/
    box-shadow: inset 200px 0 0 0 #808587;
    color: white;
}

#inner_container a{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #bec5c9;
    color: #7a7c7d;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.container{
    display: grid;
    height: auto;
    width: 100vw;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px 400px 1fr;
    gap: 30px;
    padding:50px;
    box-sizing: border-box;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.container > div{
    padding: 15px;
}
.profile_pic{
    margin: auto;
    grid-area: 1 /1;
}

#profile_img{
    width: 100px;
    height: auto;
    
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: transform .5s ease;
}
#profile_img:hover{
    transform: scale(1.3);
}
.sidebar{
    display: grid;
    gap:10px;
    opacity: 100;
    justify-content: center;
    align-items: center;
    grid-template-columns: 170px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    transition: opacity 0.5s linear, transform ease 0.8s; 
}

.sidebar > a{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #bec5c9;
    color: #7a7c7d;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.sidebar a:hover, .sidebar a:active, .sidebar a:focus {
    box-shadow: inset 200px 0 0 0 #808587;
    color: white;
}
.sidebar img{
    height: 45px;
}
.content{
    grid-area:1/2;
    grid-row-end: 4;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 25px;
    background-image: linear-gradient(to top, #bfc5c9 0%, #c6cdd0 100%);
}
.item{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 0.3fr 1fr;
    column-gap: 30px;
    font-size: 1.2vw;
    padding-bottom: 30px;

}
.item h2{
    display: flex;
    align-items: center;
    font-size: 1.1vw;
}
.item img{
    height: auto;
    width: 100px;
}
.item .logo{
    grid-row-start: 1;
    grid-row-end: 3;
}
.item ul{
    grid-area: 2/2;
}
.item ul li{
    margin-bottom: 7px;
}

footer{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    margin-top: auto;
    height: 45px;
    justify-content: center;
    align-items: center;
    color:white;
    text-decoration: none;
    background-color:  #bec5c9;
}
footer a{
    text-decoration:none;
    color:white;
}